<section id="second" class="main">
    <div class="content dark style2">
        <div class="container">
            <div class="row">
                <div class="col-4 col-12-narrow">
                    <section>
                        <h3 lang="en">Profile of CEO Asami Sakamoto</h3>
                        <h3 lang="jp">CEO坂本麻美のプロフィール</h3>

                        <p lang="en">Sakamoto Asami, born in 1975, overseas Chinese in Japan, chairman of
                            Japan-China Economic
                            Development Aiwa Industrial
                            Co., Ltd., and general manager of CITIC Guoan Jiazhao Investment Consulting Co., Ltd.

                            Sakamoto's father is a medical professor and cancer expert. He studied abroad in the
                            United States in
                            early years and is
                            a visiting scholar at Harvard University. His mother is a pharmacist and is proficient
                            in Chinese
                            medicine. His
                            great-grandfather was a student of Li Hongzhang and he was a diplomat in Europe. The
                            Medal of Opod I is
                            now preserved in
                            the old house in Suzhou. After returning to China, he was one of the founders of Jingshi
                            University Hall
                            (predecessor of
                            Peking University) and served as the college prosecutor.

                            Sakamoto has good political, business, and consortium resources, and has long been
                            committed to
                            Sino-Japanese folk
                            cultural exchanges, investment promotion, and economic cooperation. In May 2015, he
                            successfully led a
                            3,000 Japanese
                            visit to Beijing with the Japanese Liberal Democratic Party's Secretary-General
                            Toshihiro Nikai, and
                            successfully
                            completed the reception work, contributing to strengthening China-Japan cooperation and
                            promoting
                            China-Japan
                            friendship. In November 2015, it was recognized by the Japanese royal family and was
                            awarded the Tokusho
                            Palace Cultural
                            Reward Award. This award is a great recognition of Sakamoto's contributions in the
                            fields of civil
                            diplomacy, social
                            development, cultural exchanges and cultural development.

                            Sakamoto Asami has extensive experience in technology transformation and transnational
                            investment. He
                            has represented
                            domestic listed companies, large state-owned enterprise groups in negotiations with
                            foreign investors
                            and participated
                            in investment or merger and reorganization projects. The industries involved are ports,
                            logistics,
                            medical, real estate,
                            energy, IT, cultural media, entertainment sports and technology and artificial
                            intelligence.

                            Sakamoto also founded a high-end magazine that describes and introduces Japanese
                            customs. In cooperation
                            with Japanese
                            tourism agencies, he introduced Japanese tourism resources and product resources to
                            Chinese consumers.
                            He launched a
                            cross-border e-commerce business and introduced Japanese high-quality products and
                            lifestyles. Passed on
                            to Chinese
                            consumers; launched anime game business, introduced Japanese anime culture and
                            entertainment culture to
                            China, carried
                            out Sino-Japanese cultural and creative exchanges, and brought Japan's Takuya Bookstore,
                            one of the most
                            beautiful
                            bookstores in the world, into China.

                            Sakamoto's business development goal is to establish more Japanese centers around the
                            world, so that
                            more people can
                            understand and benefit from Japanese culture, cuisine, technology and so on.</p>
                        <p lang="jp">
                            坂本麻美氏は1975年の生まれ、在日華僑である。日本日中経済発展愛和産業株式会社の代表取締役であり、中信国安合弁公司中信国安嘉兆投資諮詢有限公司の社長でもある。

                            　父親は医学教授、ガンの専門家であり、若い頃米国に留学し、ハーバード大学の訪問学者である。母親は薬剤師で、漢方薬に精通する。曾祖父は李鴻章の学生であり、中国初任のベルギー駐在大使であり、ベルギー国王からレオポール一世勲章を受け取った。その勲章はまだ蘇州にある旧宅に保存されている。曾祖父は帰国後、京師大学堂（北京大学の前身）の創始者となり、大学堂の検察官を務めた。

                            　坂本麻美氏には豊かな政界、商業界と財団の資源があり、長い間に中日間の民間文化交流、外資誘致と導入、経済協力に力を尽くしている。2015年5月、日本自民党幹事長の二階俊博と共に三千名の日本人を率いて北京を訪問し、円満に招待した。中日協力を強め、中日友好を促進するために貢献した。2015年11月、日本皇族に認められ、東久邇宮文化褒賞を与えられた。それは坂本麻美氏が民間外交、社会発展、文化交流及び文化発展分野における貢献に対し認めている奨である。

                            　坂本麻美氏は技術転化と国際投資に豊富な経験を持って、日本国内の上場会社と国有大規模企業グループの代わりに外商とプロジェクトの交渉等をし、投資或いは合併買収し再編プロジェクトに参加したことがある。港、物流、医療、不動産、エネルギー、ＩＴ、カルチャーマスコミ、娯楽スポーツ及び科学技術と人工知能などの業界に関わった。

                            　坂本麻美氏は日本の風土と人情を紹介するハイエンドの雑誌を創刊し、日本観光機関と協力し、中国の消費者に日本の観光資源と物産資源を紹介したり、越境電子商取引事業を実施し、中国の消費者に日本の質高い商品と生活スタイルを伝えたりした。また、アニメ・ゲーム事業を展開し、日本のアニメ文化と娯楽文化を中国に広めた。中日文化創作と交流事業の展開によって、世界一素敵な本屋の一つである日本蔦谷書店を中国にもたらした。

                            　坂本麻美氏は全世界でより多くの日本センターを設立し、日本の文化、美味しいもの、科学技術等を普及させ、更に多くの人に役立つことを事業発展目標とする。</p>
                        <!-- <footer>
                                            <a href="#third" class="button scrolly">Accumsan nisi tempor</a>
                                        </footer> -->
                    </section>
                </div>
                <div class="col-8 col-12-narrow">
                    <div class="row">
                        <div class="col-6"><a href="#" class="image fit"><img src="assets/images/pic01.jpg" alt="" /></a>
                        </div>
                        <div class="col-6"><a href="#" class="image fit"><img src="assets/images/pic02.jpg" alt="" /></a>
                        </div>
                        <div class="col-6"><a href="#" class="image fit"><img src="assets/images/pic03.jpg" alt="" /></a>
                        </div>
                        <div class="col-6"><a href="#" class="image fit"><img src="assets/images/pic04.jpg" alt="" /></a>
                        </div>
                        <!-- <div class="col-6"><a href="#" class="image fit"><img src="images/pic05.jpg" alt="" /></a></div>
                                        <div class="col-6"><a href="#" class="image fit"><img src="images/pic06.jpg" alt="" /></a></div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>