<section id="third" class="main">
    <header>
        <div class="container">
            <h2 lang="jp">生態サービス</h2>
            <h2 lang="en">Ecological Service</h2>
            <p lang="jp">
                日本海外投資協力株式会社は、サービスエリア産業の発展を核心目標としたビジネス・アーキテクチャーを形成して、データと知能を頼りにして、傘下産業の誘致、専門シンクタンク、データ支援、パーク運営、教育訓練などの業務部門と連動し、政府パークのために全生態産業誘致集成サービスを提供する。
            </p>
            <p lang="en">
                Japan Overseas Investment Co., Ltd. forms a business architecture with the core goal of developing
                the service
                area
                industry, relying on data and intelligence to attract subordinate industries, specialize think
                tanks, data
                support, park
                management, education In conjunction with the training and other business units, it will provide an
                all-eco
                industry
                attraction service for government parks.
            </p>
        </div>
    </header>
    <div class="content dark style3">
        <div class="container">
            <!-- <span class="image featured"><img src="images/pic07.jpg" alt="" /></span> -->
            <div class="row">
                <div class="col-4 col-12-narrow">
                    <h3 lang="jp">産業の精密誘致</h3>
                    <h3 lang="en">Industrial precision attraction</h3>
                    <p lang="jp">
                        産業分野の融資新築、建替拡張、レイアウト調整、民生サービスのデータベースを頼りにして、今日園商、産業雲図などのデータと知能とした企業誘致ツールをベースに、地方と企業の誘致行為を深く分析し、企業の潜在的な投資意思を把握し、政府、パークの誘致と産業発展の需要を適時にドッキングし、パーク産業の導入と誘致にディープドッキングサービスを提供する。
                        ・誘致の代行サービス
                        ・プロジェクトの精密ドッキング
                        ・企業情報の掘り出し
                    </p>
                    <p lang="en">
                        Relying on the database of new construction, rebuilding expansion, layout adjustment, and
                        consumer
                        services in the
                        industrial field, today we are attracting local and enterprises based on data such as
                        horticultural
                        merchants,
                        industrial cloud maps, and intelligent enterprise attraction tools. Analyze deeply, grasp
                        the potential
                        investment
                        intention of enterprises, timely dock the demand of government, park attraction and
                        industrial
                        development, and provide
                        deep docking service for introduction and attraction of park industry.
                        ・ Invitation service
                        ・ Precision docking of the project
                        ・ Excavation of corporate information
                    </p>
                </div>
                <div class="col-4 col-12-narrow">
                    <h3 lang="jp">産業の研究コンサルティング</h3>
                    <h3 lang="en">Industrial research consulting</h3>
                    <p lang="jp">
                        地域発展の実際状況、専門知識及び実際操作経験を持つ豊富な高レベル産業研究コンサルティングチームに精通し、地域経済発展の具体的需要に密着し、各級政府、パーク、企業にパーク産業の位置診断、パーク産業の誘致計画、パーク誘致プロジェクトの評価、パーク経営環境調査などの深みがある知能サービスを提供する。
                        ・産業の計画コンサルタント
                        ・産業の誘致企画
                        ・誘致プロジェクトの評価
                        ・ビジネス運営環境の調査
                    </p>
                    <p lang="en">
                        Familiar with the high-level industry research consulting team with the actual situation,
                        expertise and
                        practical
                        experience of regional development, close to the specific demands of regional economic
                        development, and
                        diagnose the
                        position of the park industry to governments, parks and companies of all levels. And provide
                        in-depth
                        intelligence
                        services such as park industry attraction plans, park attraction project evaluations, and
                        park management
                        environment
                        surveys.
                        ・ Industrial planning consultant
                        ・ Industry invitation plan
                        ・ Evaluation of invited projects
                        ・ Business operation environment survey
                    </p>
                </div>
                <div class="col-4 col-12-narrow">
                    <h3 lang="jp">パークの知恵運営と管理</h3>
                    <h3 lang="en">Park wisdom management and management</h3>
                    <p lang="jp">
                        全区宝AI+ビックデータ技術の優位性を発揮し、産業チェーンのパノラマ分析、政策効用のパノラマ分析、パーク活力の直観展示、企業のデジタルアーカイブの構築、パークの知恵管理システムの構築などを通じて、全方位、全過程、知恵化、コミュニティ化の管理サービスを提供する。
                        ・パークデジタル化の情報管理
                        ・パークサービス資源のリアルタイム共有
                        ・パーク企業のオールライフサイクルサービス
                    </p>
                    <p lang="en">
                        Demonstrating the superiority of the whole area treasure AI + big data technology, through
                        panoramic
                        analysis of
                        industrial chains, panoramic analysis of policy effects, intuitive display of park vitality,
                        construction
                        of digital
                        archive of companies, construction of park wisdom management system, etc. Provide management
                        services of
                        direction,
                        whole process, wisdomization and communityization.
                        ・ Information management for park digitalization
                        ・ Real-time sharing of park service resources
                        ・ All life cycle services of park companies
                    </p>
                </div>
                <div class="col-4 col-12-narrow">
                    <h3 lang="jp">パーク人材の育成</h3>
                    <h3 lang="en">Development of park human resources</h3>
                    <p lang="jp">
                        傘下に産業分野の権威ある専門家を集め、新興産業の認知、パーク建設と管理の発展、誘致能力の向上に焦点を当て、理論教育、事例分析、実地訪問、情景シミュレーションなどの方式を通じて、産業分野の人材のために構想を開拓し、能力を向上させる。
                        ・新興産業の認知レベルの改善
                        ・パークの近代化建設能力の構築
                        ・誘致実務能力の向上
                    </p>
                    <p lang="en">
                        Under the umbrella, the industry gathers authoritative experts in the industrial field,
                        focusing on the
                        recognition of
                        emerging industries, the development of park construction and management, and the
                        improvement of
                        attracting capacity.
                        Develop ideas and improve abilities for human resources in the field.
                        ・ Improve awareness of emerging industries
                        ・ Park modernization construction capacity building
                        ・ Improvement of inviting business ability
                    </p>
                </div>
                <div class="col-4 col-12-narrow">
                    <h3 lang="jp">世界性の誘致センター</h3>
                    <h3 lang="en">World Attraction Center</h3>
                    <p lang="jp">
                        日本の資源を頼りに国内トップの新型産業リンクプラットフォームとドッキング先を構築し、各地の政府、パークの投資者にオープンし、1000+上場企業、1000+投資機関、1000+協会商会などの頭部産業資源をゼロ距離でドッキングする。
                        ・オフィスの共有
                        ・投資プロジェクトのドッキング
                        ・産業資源の取得
                    </p>
                    <p lang="en">
                        Build on Japan's top new industrial link platforms and docking destinations relying on
                        Japanese resources,
                        open to
                        government and park investors in each region, head of 1000+ listed companies, 1000+
                        investment
                        institutions, 1000+
                        associations, etc. Docking industrial resources at zero distance.
                        ・ Office sharing
                        ・ Docking of investment projects
                        ・ Acquisition of industrial resources
                    </p>
                </div>
                <!-- <footer>
									<a href="#fourth" class="button scrolly">Ipsum ornare lorem dolor</a>
								</footer> -->
            </div>
        </div>
    </div>
</section>
{{outlet}}