<section id="third" class="main">
    <div class="content dark style1 featured">
        <div class="container">
            <h2 lang="en" class="h2-header">Our Projects</h2>
            <h2 lang="jp" class="h2-header">事業</h2>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-4 col-12-narrow">
                    <section>
                        <span class="feature-icon"><img class="icon fa-clock"
                                src="assets/images/pitchatpalace.png" /></span>
                        <header>
                            <h3><a lang="en" href="https://pitchatpalace.com/about/" target="_">Pitch@Palace
                                    Japan</a></h3>
                            <h3><a lang="jp" href="https://pitchatpalace.com/about/" target="_">Pitch@Palace 日本</a>
                            </h3>
                        </header>
                        <p lang="en">
                            "Pitch@Palace gives Entrepreneurs the opportunity to meet the people who can help make
                            their business
                            dreams become a
                            reality."
                        </p>
                        <p lang="jp">
                            "Pitch @ Palaceは、起業家に、ビジネスの夢を 現実。"
                        </p>
                    </section>
                </div>
                <div class="col-4 col-12-narrow">
                    <section>
                        <span class="feature-icon"><img class="icon fa-clock" src="assets/images/zhuhai.jpg" /></span>
                        <header>
                            <h3 lang="en"><a href="http://www.cityofzhuhai.com/2019-01/14/c_315337.htm" target="_">Japanese
                                    centre
                                    at Hengqin, Zhuhai</a></h3>
                            <h3 lang="jp"><a href="http://www.cityofzhuhai.com/2019-01/14/c_315337.htm"
                                    target="_">珠海橫琴島の日本センター</a>
                            </h3>
                        </header>
                        <p lang="en">
                            Located adjacent to the free port of Macau, this is a centre for Japanese business at
                            the new
                            Hengqin Free Trade Zone in the Chinese city of Zhuhai.
                        </p>
                        <p lang="jp">
                            マカオの無料港に隣接しており、新しいビジネスの中心です。
                            中国の珠海市にある恒琴自由貿易区。
                        </p>
                    </section>
                </div>
                <div class="col-4 col-12-narrow">
                    <section>
                        <span class="feature-icon"><img class="icon fa-clock" src="assets/images/xiamen.jpg" /></span>
                        <header>
                            <h3 lang="en">Xiamen Sea World</h3>
                            <h3 lang="jp">厦门海上世界</h3>
                        </header>
                        <p lang="en">
                            Investment project for the merchandise at Xiamen Underwater World
                        </p>
                        <p lang="jp">
                            廈門アンダーウォーターワールドの商品への投資プロジェクト
                        </p>
                    </section>
                </div>
                <!-- <div class="col-12">
                                    <footer>
                                        <a href="#second" class="button scrolly">Gravida tempor lacinia</a>
                                    </footer>
                                </div> -->
            </div>
        </div>
    </div>
</section>